@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary: #27265F;
  --secondary: #2BB573;
  --text: #979797;
  --btn-primary : rgba(43, 181, 115, 0.2)
}
.bg-primary {
  background-color: var(--primary);
}

.text-primary {
  color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.text-secondary {
  color: var(--secondary);
}
.btn-primary {
 background-color: var(--btn-primary);
 color: var(--secondary);
}
.btn-secondary {
  background-color: var(--primary);
  color: white;
 }

.bg {
  background-image: url("assets/images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.container-box {
  padding-left: 7rem;
  padding-right: 7rem;
}

nav .active-link {
  border-bottom: 5px solid var(--primary);
  color: var(--secondary)  !important;
 
}

.background {
  background-image: url("assets/images/Rectangle 55.png") !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
}

footer {
  font-size: 18px;
}